{{#partial "contenido"}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each productos}}
            <div class="col">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <p class="card-text">{{this.precio}} - {{this.precioFinal}}</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}
{{> templates/base }}